@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black;
    @apply font-nunito;
  }
  @keyframes fillBar {
    from {
      width: 0;
    }
    to {
      width: var(--progress);
    }
  }
  
  .progress-bar {
    animation: fillBar 2s ease-in-out forwards;
  }